@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;  /* Light gray */
  }

  * {
    @apply border-border;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    @apply no-scrollbar bg-[#f5f5f5];  /* Explicit light gray background */
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 640px) {
  [data-slot="tabList"] {
    flex-wrap: wrap !important;
  }
}
